.card {
    font-size: 1rem;
    background-color: #F9FAFB;
    color: #111827;
    max-width: 350px;
    padding: 3em;
    border-radius: 0.5rem;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    -webkit-box-shadow: 0px 11px 11px 4px rgba(0,0,0,0.31); 
    box-shadow: 0px 11px 11px 4px rgba(0,0,0,0.31);
    transition: color 1s linear;
}

.card::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(32,201,218,1) 0%, rgba(63,117,254,1) 100%);
    border-radius: 0.5rem;
    position: absolute;
    top: -90px;
    transition: all 1s linear;
    opacity: 0;
}

.card:hover::after {
    top: 0;
    opacity: 1;
}

.card:hover {
    color: #fff;
}

.card  * {
    z-index: 10;
}

.card > h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

.card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 0.375rem;
    background-color: #3F75FE;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: -30px;
}

.card-icon {
    font-size: 2rem;
    color: #fff;
}