#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* utility */
.section.mt-3 {
  margin-top: 7em;
}

.section {
  display: flex;
  gap: 2em; 
  margin: 3em;
}

.flex-col {
  flex-direction: column;
}